{% extends "layouts/admin.twig" %}

{% block head  %}
	<title>Commentaires</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/post-bg.jpg'}}) "
{% endblock %}

{% block title %}
	Liste des commentaires
{% endblock %}

{% block content %}
	{% if _get.delete %}
		<div class="alert alert-success">
			Le commentaire a bien été supprimé
		</div>
	{% elseif _get.validate %}
		<div class="alert alert-success">
			Le commentaire a bien été validé
		</div>
	{% endif %}
	<table class="table table-responsive">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Titre de l'article</th>
				<th scope="col">Nom du commentateur</th>
				<th scope="col">Aperçu du commentaire</th>
				<th scope="col" class="text-end px-5">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<th scope="row">{{ comment.id }}</th>
					<td>{{ comment.title }}</td>
					<td>{{ comment.commentAuthor }}</td>
					<td>{{ comment.content }}</td>
					<td class="text-end">
						<form method="post" action="{{constant('ROOT')}}/comment/validate/{{comment.id}}" class="d-inline" onsubmit="return confirm('Etes-vous certain de vouloir valider ce commentaire ?')">
							<input type="hidden" name="token" value="{{ _session.token }}"/>
							<button class="btn btn-success">Valider</button>
						</form>
						<form method="post" action="{{constant('ROOT')}}/comment/delete/{{comment.id}}" class="d-inline" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce commentaire ?')">
							<input type="hidden" name="token" value="{{ _session.token }}"/>
							<button class="btn btn-danger">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
