{% extends "layouts/admin.twig" %}

{% block head  %}
	<title>Ajout d'article</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/post-bg.jpg'}}) "
{% endblock %}

{% block title %}
	Ajouter un article
{% endblock %}

{% block content %}
	{% if _session.message.erreur %}
		<div class="alert alert-danger">
			<ul>
				{% for erreur in _session.message.erreur %}
					<li>
						{{ erreur }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<div class="mb-5">
		<form method="POST" action="{{constant('ROOT')}}/admin/add" class="needs-validation" novalidate>
			<div class="form-floating">
				<input class="form-control" id="title" name="title" type="text" placeholder="Enter your title..." value="{{ post.title }}" required/>
				<label for="title">Titre</label>
				<div class="invalid-feedback" data-sb-feedback="title:required">Le titre est obligatoire</div>
			</div>
			<div class="form-floating">
				<input class="form-control" id="author" name="author" type="text" placeholder="Enter your author..." value="{{ post.author }}" required/>
				<label for="author">Auteur</label>
				<div class="invalid-feedback" data-sb-feedback="author:required">Le nom de l'auteur est obligatoire</div>
			</div>
			<div class="form-floating">
				<input class="form-control" id="chapo" name="chapo" type="text" placeholder="Enter your chapô..." value="{{ post.chapo }}" required/>
				<label for="chapo">Chapô</label>
				<div class="invalid-feedback" data-sb-feedback="chapo:chapo">Le chapô est demandé</div>
			</div>
			<div class="form-floating">
				<textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" required>{{ post.content }}</textarea>
				<label for="content">Contenu</label>
				<div class="invalid-feedback" data-sb-feedback="content:required">Veuilez entrer votre article</div>
			</div>
			<br/>
			<input type="hidden" name="token" value="{{ _session.token }}"/>
			<div class='text-center'>
				<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Ajouter</button>
			</div>
		</form>
	</div>
{% endblock %}
