{% extends "layouts/admin.twig" %}

{% block head  %}
	<title>Modifier l'article</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/modifier.jpg'}}) "
{% endblock %}

{% block title %}
	Modifier l'article
{% endblock %}

{% block content %}
	{% if _session.message.erreur %}
		<div class="alert alert-danger">
			<ul>
				{% for erreur in _session.message.erreur %}
					<li>
						{{ erreur }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<div class="my-5">
		<form method="POST" action="" class="needs-validation" novalidate>
			<div class="form-floating">
				<input class="form-control" id="title" name="title" type="text" placeholder="Enter your title..." required value="{{post.getTitle}}"/>
				<label for="title">Titre</label>
				<div class="invalid-feedback" data-sb-feedback="title:required">Le titre est obligatoire</div>
			</div>
			<div class="form-floating">
				<input class="form-control" id="author" name="author" type="text" placeholder="Enter your author..." required value="{{post.getAuthor}}"/>
				<label for="author">Auteur</label>
				<div class="invalid-feedback" data-sb-feedback="author:required">Le nom de l'auteur est obligatoire</div>
			</div>
			<div class="form-floating">
				<input class="form-control" id="chapo" name="chapo" type="text" placeholder="Enter your chapô..." required value="{{post.getChapo}}"/>
				<label for="chapo">Chapô</label>
				<div class="invalid-feedback" data-sb-feedback="chapo:chapo">Le chapô est demandé</div>
			</div>
			<div class="form-floating">
				<textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" required>{{post.getContent}}</textarea>
				<label for="content">Contenu</label>
				<div class="invalid-feedback" data-sb-feedback="content:required">Veuilez entrer votre article</div>
			</div>
			<input type="hidden" name="token" value="{{ _session.token }}"/>
			<br/>
			<div class='text-center'>
				<button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Envoi</button>
			</div>
		</form>
	</div>

{% endblock %}
