{% extends "layout.twig" %}

{% block head  %}
	<title>Les articles</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/home-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Les Articles</h1>
{% endblock %}

{% block content %}

	<div class="row">
		{% for post in posts %}
			<div class="col-md-3">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">{{ post.getTitle }}</h5>
						<small class="text-muted">
							{{ post.getCreatedAt}}</small>
						<p>{{ post.getContent|u.truncate(25,'...',false) }}</p>
						<p>
							<a href="{{constant('BASE')}}/post/{{ post.getId }}" class="btn btn-primary">Voir plus</a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
