{% extends "layouts/layout.twig" %}

{% block head  %}
	<title>Article</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/home-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Article</h1>
{% endblock %}

{% block content %}
	{% if _get.add %}
		<div class="alert alert-success">
			Votre commentaire est en attente de validation
		</div>
	{% endif %}
	<h2 class="mt-5">{{ post.getTitle}}</h2>
	<p class="text-muted">Par
		{{ post.getAuthor}}
		le
		{{ post.getCreatedAt}}</p>
	<h3 class="text-center">{{ post.getChapo}}</h3>
	<p>{{ post.getContent}}</p>


	<div class="container">
		<div class="be-comment-block">
			<h2 class="comments-title">Commentaires</h2>

			{% for comment in comments %}
				<div class="be-comment">
					<div class="be-comment-content">
						<span class="be-comment-name">
							<a href="blog-detail-2.html">{{ comment.getAuthor}}</a>
						</span>
						<span class="be-comment-time">
							<i class="fa fa-clock-o"></i>
							{{ comment.getCreatedAt}}
						</span>

						<p class="be-comment-text">{{ comment.getContent}}</p>
					</div>
				</div>
			{% endfor %}

			{% if _session.user %}
				{% if _session.erreur %}
					<div class="alert alert-danger">
						<ul>
							{% for erreur in _session.erreur %}
								<li>
									{{ erreur }}
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<form class="form-block" action="{{constant('ROOT')}}/comment/add" method="post">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<input class="form-input" name="author" type="text" placeholder="Nom" value={{ _session.user.username}}>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<textarea name="content" class="form-input" placeholder="Votre commentaire"></textarea>
							</div>
						</div>
						<input type="hidden" name="postId" value="{{post.getId}}"/>
						<button class="btn btn-primary pull-right" type="submit">Envoyer</button>
					</div>
				</form>
			{% else %}
				<div class="mt-5 text-center">
					<p class="d-inline">Vous devez être connecté pour laisser un commentaire
					</p>
					<a href="{{constant('ROOT')}}/login" class="d-inline text-primary">Connectez-vous</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
